body{
  text-align:center;
  color: orange;
  font-family: 'Armata';
  font-weight:bold;
  font-size: 24px;
  background-image: url("blackpattern.jpg");
}
#nav{
  list-style-type: none;
  text-align: center;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
}
a{
  text-decoration: none;
}

a:visited{
  color: yellow;
}

a:hover{
  color: lime;
}


.navitems {
  padding: 20px;
    margin: 10px 10px 10px 10px;
}


#navheader{
padding: 20px;
  margin: 0 auto;
  background-color: white;
  width:50%;
}
