body{
  text-align:center;
  color: #F63D21;
  font-family: 'Armata';
  font-weight:bold;
  font-size: 24px;
  background-image: url("blackpattern.jpg");
}
#nav{
  list-style-type: none;
  text-align: center;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
}

a{
  text-decoration: none;
  color: #F63D21;
}


a:visited{
  color: yellow;
}

a:hover{
  color: #9DC202;
}


/*.navitems {
  padding: 20px;
    margin: 10px auto;
    background-color: white;
    width: 40%;
}
*/

#navheader{
padding: 20px;
  margin: 0 auto;
  background-color: #F63D21;
  width:50%;
  color: #8BC1FF;
}

#item1{
  padding: 20px;
    margin: 10px auto;
    background-color: #008BFF;
    width: 40%;
}

#item2{
  padding: 20px;
    margin: 10px auto;
    background-color: #60B6FF;
    width: 35%;
}

#item3{
  padding: 20px;
    margin: 10px auto;
    background-color: #8BC1FF;
    width: 27.5%;
}
