body{
  text-align:center;
  color: #377363;
font-family: 'Source Serif Pro', serif;
  font-weight:bold;
  font-size: 18px;
  background color: #EAFFFA;
}
#nav{
  list-style-type: none;
  text-align: center;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  font-family: 'Ubuntu';
}

a{
  text-decoration: none;
  color: #363636;
}


a:visited{
  color: #001FB2;
}

a:hover{
  color: #9DC202;
}


/*.navitems {
  padding: 20px;
    margin: 10px auto;
    background-color: white;
    width: 40%;
}
*/

#navheader{
padding: 20px;
  margin: 0 auto;
  background-color: #A8796B;
  width:50%;
  color: #9DC202;
  font-size: 50px;
  font-family: 'Righteous';
}

#item1{
  padding: 10px;
    margin: 10px auto;
    background-color: #93F5DB;
    width: 40%;
    font-size: 20px;
}

#item2{
  padding: 10px;
    margin: 10px auto;
    background-color: #A8796B;
    width: 35%;
    font-size: 20px;
}

#item3{
  padding: 10px;
    margin: 10px auto;
    background-color: #93F5DB;
    width: 27.5%;
    font-size: 20px;
}

img{
  border: none;
}

h1{
  font-family: 'Righteous';
  margin: 0px;
  padding: 0px;
  font-size: 70px;
}

h2{
  margin: 0 auto;
  padding: 0 auto;
  font-size: 20px;
}
