body{
  text-align:center;
  color: purple;
  font-family: 'Armata';
  font-weight:bold;
  font-size: 24px;
  background-image: url("whitepattern.jpg");
}
#nav{
  list-style-type: none;
  text-align: center;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
}
a{
  text-decoration: none;
}

a:visited{
  color: white;
}

a:hover{
  color: lime;
}

#navheader{
padding: 20px;
  margin: 10px 10px 10px 10px;
  background-color: black;
}

#item1{
  padding: 20px;
    margin: 10px 10px 10px 10px;
}

#item2{
  padding: 20px;
    margin: 10px 10px 10px 10px;
}

#item3{
  padding: 20px;
    margin: 10px 10px 10px 10px;
}
